{% extends 'RegistryApp/base.html' %} {% block content %}
<div class="app-page-title">
  <!-- Page Content -->
  <!-- Heading Starts Here -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>SELECTION PAGE</h1>
          <p><a href="{% url 'Home' %}">Home</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Heading Ends Here -->
  <a href="{% url 'SelectionPage' %}">
    <i class="fa fa-arrow-left"> Back</i>
  </a>
  <div class="row">
    <div class="col-lg-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Hospital Forms</h5>
          <a href="{% url 'HospitalRegistrationForm' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >Hospital Registration Form</i
            >
          </a>
          <a href="{% url 'PatientRegistrationForm' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >Patient Registration Form</i
            >
          </a>
          <a href="{% url 'HospitalStaffRegistrationForm' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >Hospital Staff Registration Form</i
            >
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">School Forms</h5>
          <a href="{% url 'SchoolsRegistrationForm' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >Schools Registration Form</i
            >
          </a>
          <a href="{% url 'SchoolStaffRegistrationForm' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >School Staff Registration Form</i
            >
          </a>
          <a href="{% url 'StudentsRegistrationForm' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >Students Registration Form</i
            >
          </a>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>