{% extends 'RegistryApp/base.html' %} {% block content %}
<div class="app-page-title">
  <!-- Page Content -->
  <!-- Heading Starts Here -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>SELECTION PAGE</h1>
          <p><a href="{% url 'Home' %}">Home</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Heading Ends Here -->
  <a href="{% url 'Home' %}">
    <i class="fa fa-arrow-left"> Back</i>
  </a>
  <div class="row">
    <div class="col-lg-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Forms</h5>
          <a href="{% url 'RegistrationFormsPage' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >Registration Forms</i
            >
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 class="card-title">Reports</h5>
          <a href="{% url 'RegistrationReportsPage' %}">
            <i class="mb-2 mr-2 btn-transition btn btn-outline-info"
              >Registration Reports</i
            >
          </a>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
