{% extends 'RegistryApp/base.html' %} 
{% load crispy_forms_tags %} 
{% load static %} 
{% block content %}
    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>SCHOOLS REGISTRATION FORM</h1>
            <p><a href="{% url 'Home' %}">Home</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- Contact Us Starts Here -->
    <div class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="{% url 'SchoolsRegistrationForm' %}" method="post">
              {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>School ID:</label>
                      {{form.school_id|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>School Name:</label>
                      {{form.school_name|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>School Type:</label>
                      {{form.school_type|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>School Level:</label>
                      {{form.school_level|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                          Duly Completed and signed application forms for the institution:
                      </label>
                      {{form.school_registration_response_one|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        Duly Completed and signed application forms for the Manager of the institution:
                      </label>
                      {{form.school_registration_response_two|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        A recent Full School Inspection Report from the DEO’s/MEO’S or PDE’s Office (stamped & signed):
                      </label>
                      {{form.school_registration_response_three|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        A detailed recent Public health/Sanitary Inspection Report (stamped and signed):
                      </label>
                      {{form.school_registration_response_four|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        Title/Deed/Allotment letter or a valid Lease Agreement covering a period of not less than 8 years:
                      </label>
                      {{form.school_registration_response_five|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        Certified copies of professional and academic certificates of all teachers/Manager:
                      </label>
                      {{form.school_registration_response_six|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        Certified copies of registration certificates of the teachers with T.S.C:
                      </label>
                      {{form.school_registration_response_seven|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        A Supporting D.E.B minutes or Extract from the D.E.B minutes signed by the Secretary and Chairman:
                      </label>
                      {{form.school_registration_response_eight|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        Site/Plan/Sketches of the institution showing the existing facilities and future development or extension plans:
                      </label>
                      {{form.school_registration_response_nine|as_crispy_field}}
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <label>
                        A copy of the Registration of the institution’s Business Name under the Business names Act or A certified
                        copy of the registration of the organization as a Society or Limited Company and a copy of the Memorandum
                        of Association:
                      </label>
                      {{form.school_registration_response_ten|as_crispy_field}}
                    </fieldset>
                  </div>
                  <br></br>
                  <br></br>
                  <br></br>
                  <div class="row col-lg-12">
                    <div class="col-lg-4">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button fas fa-database">Register</button>
                    </fieldset>
                    </div>
                    <div class="col-lg-8">
                        <fieldset>
                        <div class="col-md-4 position-relative form-check">
                                <a href="{% url 'SchoolsReport' %}" class="mt-1 btn btn-secondary btn-block btn-lg">
                                    <i class="fas fa-stream"></i>Back To Report
                                </a>
                            </div>
                        </fieldset>
                    </div>
                  </div>
                </div>
              </form>
          </div>
          </div>
        </div>
      </div>
    </div>
    <br></br>
    <br></br>
    {% endblock %}